body {
	font-size: 16px;
}

input:focus,
textarea:focus,
select:focus {
	outline: 0;
	box-shadow: 5px 5px 10px #bababa;
}

table {
	border-collapse: collapse;
	display: inline-block;
	max-width: 80%;
}

.futtat {
	display: block;
	padding: 15px;
	background: green;
	color: white;
	margin: 15px 0;
	border: 0;
	cursor: pointer;
}

td,
th {
	border: 1px solid black;
	padding: 8px;
}


/* first column */

.t1 {
	background: #dadada;
	text-align: center
}

.ti1 {
	font-size: 20px;
	width: 40px;
	text-align: center;
	background: none;
}

input,
select {
	border-radius: 0;
	border: 0;
}

button.newsymbol {
	display: block;
	height: auto;
	align-self: center;
	padding: 20px;
	max-width: 140px;
	border-radius: 0px;
	border: 0;
}

input.newsymbol {
	max-width: 130px;
	width: 110px;
	padding: 12px;
	font-size: 20px;
	text-align: center;
}

.xallapot {
	width: 60px !important;
}

.bemenet,
select.allapotok,
fieldset.button {
	display: block;
	padding: 12px;
	border: 0px solid #aaaaaa;
	width: auto;
}

.tablecontainer {
	display: flex;
}

fieldset {
	border-radius: 4px;
	padding: 0;
	display: inline-block;
}

fieldset input {
	width: 100%;
	border: none;
}

legend {
	font-size: 12px;
}

.remove {
	cursor: pointer;
	color: white;
	background: red;
	border: 0;
	padding: 6px 4px;
}

.add {
	cursor: pointer;
	color: white;
	background: green;
	border: 0;
	padding: 6px 4px;
}

.res b {
	color: red;
}

.res i {
	color: blue;
}

tr.ujszabaly {
	background: rgb(184, 221, 184);
}

.message {
	height: 30px;
	width: 100%;
	display: block;
}

.hidden {
	display: none !important;
}

table fieldset input,
table fieldset select {
	font-size: 16px;
	background: none;
}

.incorrect,
.incorrect * {
	background: red;
	color: white;
}

.runningrow {
	background: yellow !important;
}

.runningtd {
	background: orange !important;
}

.res {
	font-size: 20px;
	display: inline-block;
}

.nth {
	color: #dadada;
	font-size: 10px;
	width: 30px;
	display: inline-block;
}

.message {
	color: orange;
	font-size: 20px
}